@page "/bookissuance-list"
@using StudentManagment.Shared.Models
@using StudentManagment.Shared.StudentRepository
@using StudentManagment.Client.Services
@inject NavigationManager navigation;
@inject IParentRepository ParentService
@inject IBookIssuanceRepository BookIssuanceService;
@inject IBookRepository BookService;
@inject IJSRuntime JsRuntime


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Books Issuance History</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p><a class="btn btn-success float-end" href="/add-bookissuance"> Issue New Book </a></p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"></div>
                            @if (!AllBooksIssunace.Any())
                            {
                                <p><em>Loading Books Issuance History...</em></p>
                            }
                            @if (AllBooksIssunace.Any())
                            {
                                <div class="card-body">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Issue Date</th>
                                                <th>Return Date</th>
                                                <th>Class Name</th>
                                                <th>Student Name</th>
                                                <th>Book Name</th>
                                                <th>Edit</th>
                                                <th>Return</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var issue in AllBooksIssunace)
                                            {
                                                <tr>
                                                    <td>@issue.Id</td>
                                                    <td>@issue.IssueDate</td>
                                                    <td>@issue.ReturnDate</td>
                                                    <td>@issue.Class?.Description</td>
                                                    <td>@issue.Student?.FullName</td>
                                                    <td>@issue.Book?.Name</td>
                                                    <td>
                                                        <a class="btn btn-success" href="/issue/edit/@issue.Id">
                                                            <i class="fa-solid fa-pencil"></i> Edit
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-secondary" href="/issue/return/@issue.Id">
                                                            <i class="fa-solid fa-arrow-rotate-left"></i> Return
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"> There is not Books Issuance History List Availlable</div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@code {

    public List<BookIssuance> AllBooksIssunace { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadAllBooksIssuance();
    }

    public async Task LoadAllBooksIssuance()
    {
        var data = await BookIssuanceService.GetAllAsync();
        AllBooksIssunace.Clear();

        if (data is null) return;
        foreach (var item in data)
        {
            AllBooksIssunace.Add(item);
        }
    }
    private void EditBookIssuance(int id)
    {
        navigation.NavigateTo($"/bookissuance/edit/{id}");
    }

    private async Task DeleteBookIssuance(int Id)
    {
        var result = await BookIssuanceService.DeleteAsync(Id);
        await LoadAllBooksIssuance();
    }
}